.main-ListLocation {
  margin-left: 20%;
  margin-right: auto;
  margin-top: 11%;
  width: 70%;
  padding: 12px;
  text-align: center;
}

.table {
  margin-left: 35%;
}

.button {
  margin-left: 50%;
}

