.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  padding: 20px;
  justify-content: space-around; 
}

.flex-container-cards {
  border: 2px solid rgb(0,0,0,0.2);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 15px;
  border-width: 5px;
  background-color: rgb(255,165,0,0.2);
}

.img {
  display: block;
  border: 2px solid rgb(255, 165,0,0.5);
  margin: auto;
  width: 120px;
  height: 100px;
  border-radius: 50px;
  border-style: solid;
  margin-top: 15px;
}

.block {
  display: block;
  padding: 20px;
  text-align: center;
  color: inherit;
  text-decoration: inherit;
}

.list {
  display: block;
  margin-top: 11%;
}

.list h3 {
  display: block;
  margin-left: 55%;
}

.button {
  display: inline;
  margin: 6px;
  margin-top: 15px;
  margin-left: 56%;
  padding-bottom: 20%;
}

.button button {
  margin: 5px;
}
