.list-of {
  display: block;
  margin-left: 20%;
  margin-top: 11%;
  text-align: center;
}

.list-of-button {
  display: inline;
}

.list-of-button button {
  margin: 12px;
}

.table {
  border: 2px solid rgb(0,0,0,0.2);
  width: 90%;
  margin: auto;
}

.table-thead-tr {
  background-color: rgb(255, 165,0,0.4);
}

.table-tbody-tr {
  background-color: rgb(255, 165,0,0.1);
}

