.navbar {
  background-color: rgb(255,150, 0, 0.2);
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 100px
  }

  .navbar-ul {
    text-decoration: none;
    list-style: none;
  }

  .navbar-li {
    display: block;
    padding-top: 10px;
  }
  
  .nav-inline {
    display: inline;
    color: inherit;
    padding: 8px;
    text-decoration: inherit;
  }

  .navbar-li  img {
    width: 30px;
    display: inline;
    border-radius: 20px;
  }

  .navbar-link {
    display: block;
    color: inherit;
    text-decoration: inherit;
    padding: 12px;
  }
