.main-search-bar {
  border: 2px solid rgb(255,165,0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 20%;
  padding: 12px;
  background: rgb(255,165,0,0.3);
}

.disable-link {
  text-decoration: none;
}

